
<!DOCTYPE html>
<html lang=“eng”>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Text to Morse code converter. Convert English text into Morse Code and translate Morse Core into English">
        <meta name="author" content="Ekaterina Atencio">

		<title>Morse Code Converter</title>

        <!-- BOOTSTRAP CSS -->
       <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
       <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        <!-- CUSTOM CSS -->
		<link rel="stylesheet" href="static/css/static.css">
        <!-- FONTS -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mohave:wght@300&family=Oswald:wght@300;400&display=swap" rel="stylesheet">



	<body style="background:transparent url('static/img/background.jpg'); background-size: 100vh 100vw; background-position:center; background-repeat: no-repeat; background-size: 100% 100%;">


<nav class="navbar navbar-light bg-light px-3 py-4" >
    <div class="container-fluid">
      <a href="https://ekaterinaatencio.com/" class="home-link" style="width: 50px; height: 50px;">
               <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="black" class="bi bi-gem " viewBox="0 0 16 16">
                <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6l3-4zm11.386 3.785-1.806-2.41-.776 2.413 2.582-.003zm-3.633.004.961-2.989H4.186l.963 2.995 5.704-.006zM5.47 5.495 8 13.366l2.532-7.876-5.062.005zm-1.371-.999-.78-2.422-1.818 2.425 2.598-.003zM1.499 5.5l5.113 6.817-2.192-6.82L1.5 5.5zm7.889 6.817 5.123-6.83-2.928.002-2.195 6.828z"/>
              </svg>
           </a>
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample01" aria-controls="navbarsExample01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="navbar-collapse collapse justify-content-center text-center" id="navbarsExample01" style="">
        <ul class="navbar-nav me-auto mb-2">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="https://ekaterinaatencio.com/projects">Other Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://ekaterinaatencio.com/contact">Contact Developer</a>
          </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>